body {
    background-color: #d1cab2;
}

button {
    padding: 20px 0;
}

.console {
    background-color: #333333;
    color: #e5e5e5;
    font-family: monospace;
    padding: 20px 10px;
    text-align: right;
}
